@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;// Para que los estilos del contenido que hay en la llamada al mixin.(_header.scss).
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}



@mixin grid($columnas,$gap) {
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $gap;
}




